
<app-header></app-header>


<app-sidebar></app-sidebar>

<div class="breadcrumb">
    <span>Início</span> &gt; <strong>Laboratório de Germinares</strong>
  </div>
  <h1>Laboratório de Germinares</h1>
  
  <div class="cards" >
    <div class="card" (click)="irNotas()">
      <span class="card-icon"><img src="../../assets/baby.png" alt=""></span>
      <span>Gerenciamento de Notas</span>
    </div>
    <div class="card" (click)="irGraficos()">
      <span class="card-icon"><img src="../../assets/grafics.png" alt=""></span>
      <span>Gráficos</span>
    </div>
  </div>
