
<app-header></app-header>


<app-sidebar></app-sidebar>

<div class="breadcrumb">
    <span>Início</span> &gt; <span>Laboratório de Germinares</span>
  </div>
  <h1>Laboratório de Germinares</h1>
  
  <div class="cards">
    <div class="card">
      <span class="card-icon"><img src="../../assets/baby.png" alt=""></span>
      <span>Gerenciamento de Notas</span>
    </div>
    <div class="card">
      <span class="card-icon"><img src="../../assets/grafics.png" alt=""></span>
      <span>Gráficos</span>
    </div>
  </div>
