<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="main-content">
  <div class="auth-container">
    <div class="breadcrumb">
      Início &gt; <strong>Laboratório de Germinares</strong>
    </div>
    <h1>Cadastro</h1>
    <p>Preencha os campos a seguir</p>

    <form>
      <input type="email" placeholder="E-mail" name="email" required />
      <input type="password" placeholder="Senha" name="password" required />
      <input type="text" placeholder="Nome" name="nome" required />
      <input type="text" placeholder="Gênero" name="genero" required />
      <input type="text" placeholder="Data de Nascimento" name="data_nascimento" required />
      <input type="text" placeholder="Tipo de alimentação" name="tipo_alimentacao" required />

      <div class="button-group">
        <button type="button" class="btn primary" (click)="fazerCadastro()">
          <img src="../../assets/iconCadastro.png" alt="" style="" />
          Cadastrar
        </button>
      </div>
    </form>
  </div>
</div>
